<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.8/css/bootstrap.min.css">
</head>
<body class="m-4">
    <h2>Products</h2>
    <form method="get" th:action="@{/}">
        <input type="text" id="search" name="search" class="nav-list-search" placeholder="Search for a product">
        <input type="submit" class="btn btn-primary" value="Search">
    </form>
    <table class="table">
        <tr th:each="p : ${products}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
            <td th:text="${p.quantity}"></td>
            <td><a class="btn btn-outline-primary" th:href="@{/new-product(id=${p.id})}">Edit</a></td>
            <td><a class="btn btn-danger" th:href="@{/delete(id=${p.id})}">Delete</a></td>
        </tr>
    </table>
    <a class="btn btn-primary mt-2" th:href="@{/new-product}">+ New product</a>
</body>
</html>